{{>all-header}}
<form class="container note-container pb-2 mt-4" style="max-width: 512px" method="post">
  <fieldset>
    <legend class="mt-2">Войдите</legend>
    {{#param.error}}
      <div class="p-3 bg-danger">
        Неправильные имя и пароль.
      </div>
    {{/param.error}}
    {{#param.logout}}
      <div class="p-3 bg-success">
        You have been logged out.
      </div>
    {{/param.logout}}
    <input type="hidden" name="{{_csrf.parameterName}}" value="{{_csrf.token}}">
    <label class="form-label mt-1" for="user">Логин</label>
    <input class="form-control m-1" type="text" id="user" name="user"/>
    <label class="form-label mt-1" for="pass">Пароль</label>
    <input class="form-control m-1" type="password" id="pass" name="pass"/>
    <div class="row justify-content-center p-3">
      <button type="submit" class="btn btn-success m-2 col-lg-7 col-12">Войти</button>
      <a href="registration" type="submit" class="btn btn-primary m-2 col-lg-4 col-12">Регистрация</a>
    </div>
  </fieldset>
</form>

{{>all-fother}}