{{>all-header}}
  <div class="container note-container m-2">
    <div class="d-flex h5 p-2">Создание новой записи</div>
    <div class="line"></div>

    <form action="note-create" class="m-2 d-flex flex-column" method="post">

      {{#error}}<label class="p-3 bg-warning flex-fill justify-content-center d-flex align-items-center">Ошибка! Введены не корректные данные!</label>{{/error}}
      <input type="hidden" name="{{_csrf.parameterName}}" value="{{_csrf.token}}">
      <input type="hidden" name="tags" value="" id="idHidden">
      <label class="form-label">
        Заголовок
        <input type="text" class="form-control m-1" name="title" placeholder="Введите название статьи...">
      </label>
      <label class="form-label mt-2">
        Текст
        <textarea rows="15" class="form-control m-1 " name="text" placeholder="Введите текст..."></textarea>
      </label>
      <label class="form-label mt-2 w-100">
        Тэги
        <div class="d-flex flex-wrap w-100 mt-2" role="group" style="border-radius: 0.3rem">
          {{#all-tags}}
          <button type="button" id="radio-{{id}}" value="{{id}}" class="btn btn-sm btn-light m-1" onclick="buttonRadioClicked('radio-{{id}}', 'idHidden');">{{name}}</button>
          {{/all-tags}}
        </div>
      </label>
      <div class="d-flex m-1 flex-fill">
        <button type="submit" class="btn btn-success m-1 flex-fill">Сохранить</button>
      </div>
    </form>
  </div>

<script src="/js/buttonRadio.js"></script>
{{>all-fother}}