{{>all-header}}
<div class="container">
  <div class="row">
    <div class="col-lg-9 col-12">
      <div class="note-container mt-2 mb-1">
        {{#note}}
          <div class="container pt-3 pb-2">
            <div class="d-flex">
              <div class="icon-author"><img src="/img/avatar-1.jpg" alt="avatar"></div>
              <div class="title-container ms-2">
                <div class="title h3">{{title}}</div>
                <div class="signature">Автор: <a>{{author.name}}</a> <span class="material-icons"
                                                                           style="font-size: 14px">schedule</span>{{time}}
                </div>
              </div>
            </div>
            <div class="d-flex flex-column">
              <div class="tags mt-2">
                <span class="material-icons">sell</span>
                {{#tags}}<a href="/notes?tags={{name}}" class="btn btn-sm btn-primary ms-1 me-1"> {{name}} </a>{{/tags}}
              </div>
              <div class="mt-2">
                {{full-text}}
              </div>
            </div>
          </div>
        {{/note}}
      </div>
    </div>
    <div class="col-lg-3 col-12">
      <div class="note-container mt-2 mb-1">
        <div class="d-flex">Боковая панель</div>
      </div>
    </div>
  </div>
</div>
{{>all-fother}}